:root {
  --body-color: #161722;
  --todobox-color: #25273c;
  --todotext-color: #cacde8;
  --todotext-color-hover: #e4e5f1;
  --color-one: #777a92;
  --color-two: #4d5066;
  --color-three: #393a4c;
  --color-outline: #FFFFFF;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

ul[class],
ol[class],
ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class] {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  border: none;
  font: inherit;
  outline: none;
}

button {
  background: none;
  color: inherit;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduce-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.darkmode {
  --body-color: red;
}

body {
  background-color: var(--body-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75rem;
  padding: 3rem 1.5rem;
  position: relative;
}
body::before, body::after {
  content: "";
  height: 12.5rem;
  left: 0;
  padding-top: clamp(2.375rem, 4vw, 2.5rem);
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease;
  width: 100%;
}
body::before {
  background: url("../Images/bg-mobile-light.jpg") no-repeat center center;
  background-size: cover;
  z-index: 9;
}
body::after {
  background: url("../Images/bg-mobile-dark.jpg") no-repeat center center;
  background-size: cover;
  z-index: 10;
}
h1 {
  color: #FFFFFF;
  font-size: 1.75rem;
}

main {
  position: relative;
  z-index: 20;
}

input:focus-visible,
button:focus-visible {
  outline: 2px dashed var(--color-outline);
  outline-offset: 2px;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.heading__title {
  color: #FFFFFF;
  font-size: 1.75rem;
  letter-spacing: 6px;
}
.heading__modes {
  height: 1.75rem;
  overflow: hidden;
  position: relative;
  width: 1.75rem;
}
.heading__modes input[type=radio] {
  height: 1.25rem;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 20px;
}
.heading__modes input[type=radio]:focus-visible ~ .heading__focus-trick {
  outline: 2px dashed #FFFFFF;
  outline-offset: 2px;
  z-index: 59;
}
.heading__modes input[type=radio]:first-of-type:checked + label {
  opacity: 0;
  -webkit-transform: translateX(28px) rotate(360deg);
          transform: translateX(28px) rotate(360deg);
}
.heading__modes input[type=radio]:first-of-type:checked ~ input[type=radio] + label {
  opacity: 1;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}
.heading__modes label {
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  position: absolute;
  right: 1px;
  top: 1px;
  transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease, -webkit-transform 0.75s ease;
  width: 1.25rem;
  z-index: 20;
}
.heading__modes label:first-of-type {
  background: url("../Images/icon-moon.svg") no-repeat center center;
  background-size: cover;
  opacity: 1;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}
.heading__modes label:last-of-type {
  background: url("../Images/icon-sun.svg") no-repeat center center;
  background-size: cover;
  opacity: 0;
  -webkit-transform: translateX(28px) rotate(360deg);
          transform: translateX(28px) rotate(360deg);
}
.heading__mode-wrapper {
  position: relative;
}
.heading__focus-trick {
  height: 1.25rem;
  position: absolute;
  right: 4px;
  top: 3px;
  width: 1.25rem;
}

.form {
  background-color: var(--todobox-color);
  border-radius: 4px;
  margin-bottom: 1rem;
}
.form__todo {
  background-color: transparent;
  background-image: radial-gradient(1.125rem circle at 1.75rem 1.5rem, var(--todobox-color) 50%, transparent 51%), radial-gradient(1.25rem circle at 1.75rem 1.5rem, var(--color-three) 50%, transparent 51%);
  border-radius: 4px;
  color: var(--todotext-color);
  height: 3rem;
  padding-left: 3.25rem;
  width: 100%;
}

.todo__check {
  height: 1.25rem;
  left: 1.25rem;
  opacity: 0;
  position: absolute;
  top: 1rem;
  width: 1.25rem;
}
.todo__check:focus-visible + .todo__label::before {
  box-shadow: 0 0 1px 2px var(--todobox-color), 0 0 1px 3px var(--color-outline);
}
.todo__check:checked ~ .todo__label {
  color: var(--color-two);
  text-decoration: line-through;
}
.todo__check:checked ~ .todo__label::before {
  -webkit-animation: checked 0.3s ease-in-out forwards;
          animation: checked 0.3s ease-in-out forwards;
}
.todo__check:checked ~ .todo__label::after {
  opacity: 0;
}
.todo__item {
  align-items: center;
  background-color: var(--todobox-color);
  border-bottom: 1px solid var(--color-three);
  color: var(--todotext-color);
  display: flex;
  height: 3.3125rem;
  justify-content: space-between;
  padding: 0 1.25rem;
  position: relative;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.todo__item:first-of-type {
  border-radius: 4px 4px 0 0;
}
.todo__item.enter {
  -webkit-transform: translateX(3%);
          transform: translateX(3%);
}
.todo__item.drag {
  opacity: 0.3;
}
.todo__label {
  padding-left: 2rem;
  position: relative;
  transition: color 0.3s ease;
}
.todo__label::before {
  content: url("../Images/icon-check.svg");
  border-radius: 50%;
  background: linear-gradient(to right, #57ddff, #c058f3);
  height: 1.25rem;
  left: 0;
  padding: 6px 0 0 5px;
  position: absolute;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 1.25rem;
}
.todo__label::after {
  content: "";
  background: var(--todobox-color);
  border: 1px solid var(--color-three);
  border-radius: 50%;
  height: 1.375rem;
  left: -1px;
  position: absolute;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  transition: opacity 0.3s ease;
  top: -1px;
  width: 1.375rem;
}
.todo__remove {
  background: url("../Images/icon-cross.svg") no-repeat center center;
  background-size: cover;
  height: 0.8125rem;
  width: 0.8125rem;
}
.todo__remaining {
  align-items: center;
  background-color: var(--todobox-color);
  border-radius: 0 0 4px 4px;
  color: var(--color-one);
  display: flex;
  height: 3rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1.25rem;
}
.todo__options {
  align-items: center;
  border-radius: 4px;
  background-color: var(--todobox-color);
  color: var(--color-one);
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3rem;
  justify-content: center;
}
.todo__option:nth-of-type(2) {
  margin: 0 1.125rem;
}
.todo__option button {
  padding: 0;
}
.todo__option.selected {
  color: #3a7bfd;
}

@-webkit-keyframes checked {
  20% {
    -webkit-transform: scale(0.9) translateY(-25%);
            transform: scale(0.9) translateY(-25%);
  }
  50% {
    -webkit-transform: scale(1.15) translateY(-25%);
            transform: scale(1.15) translateY(-25%);
  }
  75% {
    -webkit-transform: scale(0.9) translateY(-25%);
            transform: scale(0.9) translateY(-25%);
  }
  100% {
    -webkit-transform: scale(1) translateY(-25%);
            transform: scale(1) translateY(-25%);
  }
}

@keyframes checked {
  20% {
    -webkit-transform: scale(0.9) translateY(-25%);
            transform: scale(0.9) translateY(-25%);
  }
  50% {
    -webkit-transform: scale(1.15) translateY(-25%);
            transform: scale(1.15) translateY(-25%);
  }
  75% {
    -webkit-transform: scale(0.9) translateY(-25%);
            transform: scale(0.9) translateY(-25%);
  }
  100% {
    -webkit-transform: scale(1) translateY(-25%);
            transform: scale(1) translateY(-25%);
  }
}
/*# sourceMappingURL=style.css.map */