@use "../Abstract/functions" as func;
@use "../Abstract/variables" as var;

#root {
  max-width: func.rem(540);
  width: 100%;
}

body {
  background-color: var(--body-color);
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: func.fluid(12, 2vw, 18);
  justify-content: center;
  padding: func.fluid(48, 10vw, 78) func.rem(24);
  position: relative;
  transition: background-color .5s ease;

  &::before,
  &::after {
    content: "";
    height: func.fluid(200, 24vw, 300);
    left: 0;
    padding-top: func.fluid(38, 4vw, 40);
    position: absolute;
    top: 0;
    transition: opacity .5s ease;
    width: 100%;
  }

  &::before {
    background: url("../Images/bg-mobile-light.jpg") no-repeat center center;
    background-size: cover;
    z-index: 9;
  }

  &::after{
    background: url("../Images/bg-mobile-dark.jpg") no-repeat center center;
    background-size: cover;
    z-index: 10;
  }

  &.lightmode {

    &::after {
      opacity: 0;
    }
  }
}

h1 {
  color: #FFFFFF;
  font-size: func.rem(28);
}

main {
  position: relative;
  z-index: 20;
}

input,
button {
  
  &:focus-visible {
    outline: 2px dashed var(--color-outline);
    outline-offset: 2px;
  }
}

@media (min-width: 50em) {

  body {
    
    &::before {
      background-image: url("../Images/bg-desktop-light.jpg");
    }

    &::after {
      background-image: url("../Images/bg-desktop-dark.jpg");
    }
  }
}